<%- include('../partials/header') %>
<div class="container my-5">
  <% if (about) { %>
  <div class="row align-items-center mb-5">
    <div class="col-lg-6">
      <h1 class="display-4 mb-4">about Our School</h1>
      <% if (about?.image) { %>
      <img
        src="<%= about?.image %>"
        alt="School Image"
        class="img-fluid rounded shadow-lg mb-4"
        style="max-height: 200px; width: 100%; object-fit: cover"
      />
      <% } %>
    </div>
    <div class="col-lg-6">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= about?.historyTitle %></h2>
          <p class="text-muted"><%= about?.history %></p>
        </div>
      </div>
      <!-- <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= about?.missionTitle %></h2>
          <p class="text-muted"><%= about?.mission %></p>
        </div>
      </div> -->
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6">
      <!-- <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= about?.visionTitle %></h2>
          <p class="text-muted"><%= about?.vision %></p>
        </div>
      </div> -->
    </div>
    <div class="col-lg-6">
      <!-- <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= about?.historyTitle %></h2>
          <p class="text-muted"><%= about?.history %></p>
        </div>
      </div> -->
    </div>
  </div>
  <% } else { %>
  <div class="alert alert-info">
    No about? content has been added yet. Please add content through the admin
    panel.
  </div>
  <% } %>

  <!-- Testimonials Section -->
</div>
<%- include('../partials/footer') %>
