<%- include('../partials/header') %>

<div class="container mt-4">
  <h2 class="text-center mb-4">Our Gallery</h2>

  <div class="row">
    <% images.forEach(function(image) { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          src="<%= image.image %>"
          class="card-img-top"
          alt="<%= image.title %>"
          style="height: 250px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title"><%= image.title %></h5>
          <p class="card-text"><%= image.description %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include('../partials/footer') %>
